@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html {
    font-family: 'Red Hat Display', serif;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}

body {
    background: hsl(225, 100%, 94%) url(../images/pattern-background-desktop.svg) top no-repeat;
    background-size: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p, h1 {
    margin: 0;
}

.card {
    width: 450PX;
    height: 700px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.image-hero {
    border-radius: 15px 15px 0 0;
}

.description {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.plan {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 25px;
    border-radius: 15px;
}

.plan-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.plan-musicicon {
    margin-right: 20px;
    height: 50px;
}

.plan-price {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-price p:first-child {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.plan-price p:last-child {
    color: hsl(224, 23%, 55%);
}

.button {
    background-color: hsl(245, 75%, 52%);
    width: 100%;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    box-shadow: 0 20px 10px hsl(225, 100%, 94%);
    text-decoration: none;
    margin-top: 15px;
}

.button:hover {
    background-color: hsla(245, 75%, 52%, 75%);
}
.plan a {
    color: hsl(245, 75%, 52%);
}

.plan a:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 75%);
}

.description-text {
    text-align: center;
    color: hsl(224, 23%, 55%);
    line-height: 1.6rem;
}

.cancel {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 15px;
}

.card-titre {
    margin-top: 35px;
}

@media all and (max-width: 375px) { 
    .card {
        width: 325px;
        height: 550px;
    }

    .image-hero {
        width: 100%;
    }

    .cancel {
        margin-bottom: 20px;
    }

    .card-titre {
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .description-text {
        font-size: 0.9rem;
    }

    .plan {
        font-size: 0.9rem;
        width: 254px;
        padding: 15px;
    }
    
    .button {
        padding: 12px 20px;
        font-size: 0.9rem;
    }
}